*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  /* background-image: linear-gradient(#d8c7ff, #19006C); */
  background-image: linear-gradient(#90CAF9, #19006C);
  font-family: "poppins";
}
@media (max-width:400px) {
  body{
  /* height: 100%; */
  /* background-image: linear-gradient(#d8c7ff, #19006C); */
  background-image: linear-gradient(#90CAF9, #19006C);
  font-family: "poppins";
}
}